@charset "UTF-8";

html,
body{
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;	
}

.header{
	width: 100%;
	height: 40%;
	background-color: black;
}

.Main {
	width: 100%;
	height: 60%;
	display: flex;
	
}

.Main_User{
	width: 30%;
	height: 100%;
	background-color: #5d95e4;
	display: flex;
	flex-direction: column;
	
}

.Main_User_Profile{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.Main_User_Profile_Photo{
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 50%;
	margin-bottom: 5px;
 	position: absolute;
	bottom: 0;
	
}
.Main_User_Profile_Text{
	
	margin: 5px 0;
}

.Main_Community{
	width: 70%;
	height: 100%;
}

